/* ol li{
    color: red;
} */

/* li:nth-child(1){
    color: red;
} */

/* li:nth-child(odd){
    color: red;
} */

/* li:nth-child(even){
    color: red;
} */

/* ol > li{

} */

/* #text{
    color: blue;
}
#text-one{
    color: blue;
} */
/* .my-text{
    color: red;
}

.test{
    font-size: 100px;
} */