@import url('reset.css');
/* @import 'reset.css'; */



.box{
    width: 100px;
    height: 100px;
    background-color: red;
}


/* ol{
    margin-left: 510px;
} */
img{
    float: left;
}

.my-text{
    clear: both;
}